body {
    font-family: Verdana, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    color: #3a98e8;
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    
}
